<html>
<head>
    <title>get a room // freelabs</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="page-header">
                <h1>freelabs <small>get a room ;)</small></h1>
            </div>
            <div class="well">
                {% if best_lab %}
                    <h2>
                        The best free lab is: {{ best_lab }} 
                        <small>
                            {{ best_lab.code }} - 
                            {% if best_lab.upcomming %}
                                {{ best_lab.upcomming }} in {{ best_lab.upcomming.datetime_start|timeuntil }}
                            {% else %}
                                free for the day.
                            {% endif %}
                        </small>
                    </h2>
                {% else %}
                    <h2>There are no free labs</h2>
                {% endif %}

            </div>
            <table class="table table-striped table-condensed">
            <thead>
                <th>Name</th>
                <th>Status</th>
                <th>Code</th>
                <th>Next Booking</th>
            </thead>
            <tbody>
                {% for lab in labs %}
                    <tr>
                        <td>{{ lab.name }}</td>
                        <td>
                            {% if lab.current %}
                                <span class="text-danger">{{ lab.current }} ({{ lab.current.datetime_finish|timeuntil }} left)</span>
                            {% else %}
                                <span class="text-success">Free</span>
                            {% endif %}
                        </td>
                        <td><code>{{ lab.code }}</code></td>
                        <td>
                        {% if lab.upcomming %}
                            {{ lab.upcomming }} in {{ lab.upcomming.datetime_start|timeuntil }}
                        {% else %}
                            No more bookings.
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <hr />
            <p>Hey! It's one of those <a href="https://github.com/kyerussell/freelabs">open-source</a> things...</p>
            Made by <a href="https://kye.id.au">Kye Russell</a></p>
        </div>
    </div>
</div>
</body>
</html>